<div class="four wide column">
    <div class="ui green vertical pointing inverted secondary fluid menu hoverEdit">
        <a href="<%= baseURL %>/info" class="item <% if (page==='info') { %> active <% } %>">
            <i class="icon info white"></i> Info
        </a>
        <a href="<%= baseURL %>/gps" class="item <% if (page==='gps') { %> active <% } %>">
            <i class="icon map marker alternate white"></i> GPS
        </a>
        <a href="<%= baseURL %>/microphone" class="item <% if (page==='microphone') { %> active <% } %>">
            <i class="icon microphone white"></i> Microphone
        </a>
        <a href="<%= baseURL %>/contacts" class="item <% if (page==='contacts') { %> active <% } %>">
            <i class="icon address book white"></i> Contacts
        </a>
        <a href="<%= baseURL %>/calls" class="item <% if (page==='calls') { %> active <% } %>">
            <i class="icon phone white"></i> Call Log
        </a>
        <a href="<%= baseURL %>/clipboard" class="item <% if (page==='clipboard') { %> active <% } %>">
            <i class="icon clipboard white"></i> Clipboard Log
        </a>
        <a href="<%= baseURL %>/notifications" class="item <% if (page==='notifications') { %> active <% } %>">
            <i class="icon exclamation white"></i> Notification Log
        </a>
        <a href="<%= baseURL %>/sms" class="item <% if (page==='sms') { %> active <% } %>">
            <i class="icon comments white"></i> SMS Manager
        </a>
        <a href="<%= baseURL %>/wifi" class="item <% if (page==='wifi') { %> active <% } %>">
            <i class="icon wifi white"></i> WiFi Manager
        </a>
        <a href="<%= baseURL %>/apps" class="item <% if (page==='apps') { %> active <% } %>">
            <i class="icon google play white"></i> Installed Apps
        </a>
        <a href="<%= baseURL %>/permissions" class="item <% if (page==='permissions') { %> active <% } %>">
            <i class="icon tasks white"></i> Allowed Permissions
        </a>
        <a href="<%= baseURL %>/files" class="item <% if (page==='files') { %> active <% } %>">
            <i class="icon folder open white"></i> File Explorer
        </a>
        <a href="<%= baseURL %>/downloads" class="item <% if (page==='downloads') { %> active <% } %>">
            <i class="icon download white"></i> Downloads
        </a>

        <a href="<%= baseURL %>/lockdevice" class="item <% if (page==='lockdevice') { %> active <% } %>">
            <i class="icon key white"></i> Lock Device 
        </a>

        <a href="<%= baseURL %>/screenshot" class="item <% if (page==='screenshot') { %> active <% } %>">
            <i class="icon image outline white"></i> Screenshot
        </a>

        <a href="<%= baseURL %>/screenrecord" class="item <% if (page==='screenrecord') { %> active <% } %>">
            <i class="icon mobile alternate white"></i> ScreenRecord
        </a>

        <a href="<%= baseURL %>/rearcam" class="item <% if (page==='rearcam') { %> active <% } %>">
            <i class="icon camera white"></i> RearCam
        </a>

        <a href="<%= baseURL %>/frontcam" class="item <% if (page==='frontcam') { %> active <% } %>">
            <i class="icon camera retro white"></i> FrontCam
        </a>

    </div>

</div>
